{% extends 'layout.html.twig' %}

{% block content %}
    <table style="border: 0.1em solid black;">
        <tr>
            <td style="border: 0.1em solid black;">Material</td>
            <td style="border: 0.1em solid black;">Prestado a</td>
            <td style="border: 0.1em solid black;">Prestado por</td>
            <td style="border: 0.1em solid black;">Devuelto por</td>
            <td style="border: 0.1em solid black;">Fecha del préstamo</td>
            <td style="border: 0.1em solid black;">Fecha de la devolución</td>
            <td style="border: 0.1em solid black;">Notas</td>
        </tr>
        {% for pres in prestamos %}
            <tr>
                <td style="border: 0.1em solid black;">{{ pres.material }}</td>
                <td style="border: 0.1em solid black;">{{ pres.prestadoA }}</td>
                <td style="border: 0.1em solid black;">{{ pres.prestadoPor }}</td>
                <td style="border: 0.1em solid black;">{{ pres.devueltoPor }}</td>
                <td style="border: 0.1em solid black;">{{ pres.fechaHoraPrestamo | date("d/m/Y") }}</td>
                <td style="border: 0.1em solid black;">{{ pres.fechaHoraDevolucion | date("d/m/Y") }}</td>
                <td style="border: 0.1em solid black;">{{ pres.notas }}</td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ path('listar_presMateriales') }}">Volver</a>
{% endblock %}

